/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Archivo|Average+Sans|Harmattan|Pavanam');
@font-face {
    font-family: Reglo-Bold;
    src: url("fonts/Reglo-Bold.otf") format("opentype");
}
@font-face {
    font-family: LibreBaskerville-Regular;
    src: url("fonts/LibreBaskerville-Regular.otf") format("opentype");
}
@font-face {
    font-family: CothamSans;
    src: url("fonts/CothamSans.otf") format("opentype");
}
@font-face {
    font-family: LeagueGothic;
    src: url("fonts/LeagueGothic-Italic.otf") format("opentype");
}
@font-face {
    font-family: SFProText;
    src: url("fonts/SF-Pro-Text-Regular.otf") format("opentype");
}
h1 {
  font-family: 'Reglo-Bold';
  font-size: 5vw;
  text-align: center;
  line-height: 1em;
}
h2 {
  font-family: 'LeagueGothic';
  font-size: 4.3vw;
  letter-spacing: .1vw;
  line-height: 1.1em;
  text-align: center;
}
h3 {
  font-family: 'Sintony', sans-serif;
  font-size: 3vw;
  line-height: 4vw;
  text-align: center;
  z-index: 3;
}
h4 {
  font-family: 'Sintony', sans-serif;
  font-weight: lighter;
  font-size: .925vw;
  text-align: justify;
  margin-left: 29vw;
  margin-right: 29vw;
  line-height: 1.2vw;
  color: gray;
}
h6 {
  font-family: 'Sintony', sans-serif;
  font-size: 2vw;
  top: 0vw;
  right: 3.6vw;
  position: fixed;
  z-index: 32;
}
sub {
  font-family: 'Sintony', sans-serif;
  font-size: 1vw;
}
p {
  font-family: 'Sintony', sans-serif;
  font-size: 1.25vw;
}
img{
    position:absolute;
}
a{
  text-decoration: none;
  color: black;
}


body {
  margin: 0;
  padding: 0;
  background-color: white; }
  body .controls {
    display: none;}
body.preview {
  background-color: lightgrey; }
  body.preview .controls {
    display: block;
    position: absolute;
    top: 10px;
    left: 40px; }
  body.preview .paper {
    background-color: white;
    width: 440px;
    padding-top: 25px;
    padding-bottom: 50px;
    margin: 20px auto;
}
body.preview .content {
    -webkit-font-smoothing: antialiased; }
body .content {
  -webkit-font-smoothing: none;
  width: 384px;
  overflow: hidden;
  margin: 0 auto;
  background-color: white; }

#RedStar2 {
    z-index: 0;
    top: 60vh;
    left: 42.5vw;
    width: 15%;
  }
#ShopAgain {
  z-index: 3;
}
