
/* start.html */
#RedStar {
  z-index: -1;
  top: 28vw;
  left: 42vw;
  width: 15%;
}

/* Fonts */
@font-face {
    font-family: Reglo-Bold;
    src: url("fonts/Reglo-Bold.otf") format("opentype");
}
@font-face {
    font-family: LibreBaskerville-Regular;
    src: url("fonts/LibreBaskerville-Regular.otf") format("opentype");
}
@font-face {
    font-family: CothamSans;
    src: url("fonts/CothamSans.otf") format("opentype");
}
@font-face {
    font-family: LeagueGothic;
    src: url("fonts/LeagueGothic-Italic.otf") format("opentype");
}
@font-face {
    font-family: SFProText;
    src: url("fonts/SF-Pro-Text-Regular.otf") format("opentype");
}
h1 {
  font-family: 'Reglo-Bold';
  font-size: 5vw;
  text-align: center;
}
h2 {
  font-family: 'LeagueGothic';
  font-size: 4vw;
  letter-spacing: .1vw;
}
h3 {
  font-family: 'CothamSans';
  font-size: 3vw;
  line-height: 4vw;
  text-align: center;
}
h4 {
  font-family: "Helvetica";
  font-weight: lighter;
  font-size: .925vw;
  text-align: justify;
  margin-left: 29vw;
  margin-right: 29vw;
  line-height: 1.2vw;
  color: gray;
}
h6 {
  font-family: 'Reglo-Bold';
  font-size: 2vw;
  top: 0vw;
  right: 3.6vw;
  position: fixed;
  z-index: 32;
}
sub {
  font-family: 'SFProText';
  font-size: 1vw;
}
p {
  font-family: 'SFProText';
  font-size: 1.3vw;
}
img{
    position:absolute;
}
a{
  text-decoration: none;
  color: black;
}

/* Quiz */
#quiz {
	margin-left: 10vw;;
	background: none;
	padding: 1vw;;
	width: 100%;
	float: center;
}
input {
	margin-bottom: 20px;
	display: block;
}
#textbox {
	height: 25px;
	font-size: 16px;
	border: none;
	padding-left: 5px;
}
#quizdone {
	background: white;
	border: 1px black;
	padding: 1vw;
	color: black;
	font-size: 16px;
	transition-duration: .2s;
	margin-top: 15px;
}
#quizdone:hover {
	background: lightgray;
  border: 1px black;
	color: black;
	cursor: pointer;

}
#after_submit {
	visibility: hidden;
	background: #ff5459;
	padding: 10px 20px 10px 20px;
	width: 400px;
	border-radius: 20px;
	float: left;
	margin-left: 20px;
	font-size: 30px;
}
#picture {
	width: 375px;
	height: 245px;
}
#mc {
	display: inline;
}

/* Timed Popups*/
#CookiePopup {
  position: fixed;
  top: 0vw;
  left:0vw;
  width: 100%;
  z-index: 33;
}
#CookiePopupStyle {
  background-color: yellow;
  width: 100%;
  z-index: 34;
  color: black;
  line-height: .4vw;
}
#CookiePopupStyle button {
  border: .1vw solid black;
  padding: .15vw;
  transition: background-color .4s ease
  position: fixed;
}
#CookiePopupStyle button:hover {
  background-color: lightgray;
}

#WelcomePopup {
  align-items: center;
  display: none;
  top: 20vw;
  height: 40vh;
  justify-content: center;
  position: absolute;
  z-index: 33;
}
#WelcomePopupStyle {
  background-color: lightgray;
  border: 2px solid black;
  padding: 20px 40px;
  width: 50%;
  z-index: 34;

}
#WelcomePopupStyle button {
  padding: 1vw 2vw;
  border: .1vw solid black;
  transition: background-color .4s ease
  position:absolute;
  left: 5vw;
}
#WelcomePopupStyle button:hover {
  background-color: lightblue;
}

#RandomPopup1 {
  align-items: center;
  display: none;
  top: 1030vw;
  height: 40vw;
  width: 50vw;
  justify-content: center;
  position: absolute;
  z-index: 33;
}
#RandomPopup1Style {
  background-color: lightgray;
  border: 2px solid black;
  padding: 20px 40px;
  width: 50%;
  z-index: 34;
}
#RandomPopup1Style button {
  padding: 1vw 2vw;
  border: .1vw solid black;
  transition: background-color .4s ease
  position:absolute;
  left: 5vw;
}
#RandomPopup1Style button:hover {
  background-color: lightblue;
}

/* onClick Popups */
#MessagePopup{
  align-items: center;
  display: none;
  justify-content: right;
  position: fixed;
  top: 7vw;
  right: 2vw;
  z-index:33;
  width: 30%;
}
#MessagePopupStyle {
  background-color: lightgray;
  border: 2px solid black;
  padding: 2vw;
  width: 100%;
  z-index: 34;
}
#MessagePopupStyle button {
  padding: 10px 20px;
  border: 2px solid black;
  transition: background-color .4s ease
}
#MessagePopupStyle button:hover {
  background-color: lightblue;
}

#AttnQuizPopup{
  align-items: center;
  display: none;
  justify-content: center;
  position: fixed;
  z-index:33;
  width: 90%;
  top: 5vw;
  left: 5vw;
}
#AttnQuizPopupStyle {
  background-color: lightgray;
  border: 2px solid black;
  padding: 2vw;
  width: 100%;
  z-index: 34;
}
#AttnQuizPopupStyle button {
  padding: 10px 20px;
  border: 2px solid black;
  transition: background-color .4s ease
}
#AttnQuizPopupStyle button:hover {
  background-color: lightblue;
}

/* Other popup stuff */
.content {
  padding: .5vw;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
  padding: 1px;
  z-index: 2;
}
.sticky + .content {
  padding-top: .5vw;
}
.button {
  background-color: yellow;
  border: none;
  color: black;
  font-family: 'Reglo-Bold';
  text-decoration: none;
  font-size: 30px;
  padding: 20px;
  cursor: pointer;
  border: none;
  z-index: 20;
}
.notification-button {
  background-color: none;
  border: none;
  cursor: pointer;
  z-index: 20;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 20; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}
.modal-content {
    position: absolute;
    top:11vw;
    left:25vw;
    background-color: white;
    margin: auto;
    padding: 0;
    border: 0px solid #888;
    width: 50%;
    animation-name: animatetop;
    animation-duration: 0.5s
    z-index: 20;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-header {
    padding: 1vw;
    background-color: #bb7cd6;
    color: black;
}
.modal-body {
  padding: 1vw;
  background-color: #bb7cd6;
  color: black;
}
.modal-footer {
    background-color: #bb7cd6;
    padding: 1vw;
    color: black;
}
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/* TopMenu */
#TinyNav {
  width: 80%;
  right:3vw;
  background-color: #ffffff;
  z-index: 31;
}
#navbar {
  overflow: visible;
  width: 100%;
  background-color: #ffffff;
  z-index: 32;
}
#navbar a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding-left: 2.5vw;
  padding-top: .01vw;
  text-decoration: none;
  z-index: 33;
}
#hello {
  position: right;
  margin-top: 3vw;
  z-index: 22;
}
#MessageIcon {
   z-index: 32;
   position: fixed;
   top: 4.6vw;
   right: 15vw;
   width: 2.5%;
}
#notification-pulse {
  z-index: 32;
  position: fixed;
  cursor:pointer;
  top: 1.8vw;
  right: 12vw;
  width: 6%;
}


/* Title. */
#Title {
  font-family: "LeagueGothic";
  position: absolute;
  z-index: 30;
}
#AttnCollectionTitle {
   z-index: 20;
   position: absolute;
   top: 30vw;
   left: -1vw;
   width: 115%;
}
#AttnCollectionTitleNew {
   z-index: 20;
   position: absolute;
   top: 18vw;
   left: -1vw;
   width: 57%;
}

/* Ads */
#BannerAd {
   z-index: 30;
   position: absolute;
   top: 13vw;
   left: 10vw;
   width: 80%;
   color: white;
}
#Skyscraper {
   z-index: 30;
   position: absolute;
   top: 37vw;
   right: 5vw;
   width: 10%;
}
#Skyscraper2 {
   z-index: 30;
   position: absolute;
   top: 123vw;
   right: 5vw;
   width: 10%;
}
#SmallBanner1 {
   z-index: 20;
   position: absolute;
   top: 168vw;
   left: 10vw;
   width: 80%;
}
#SmallBanner2 {
   z-index: 20;
   position: absolute;
   top: 240vw;
   left: 10vw;
   width: 80%;
}
#SmallBanner3 {
   z-index: 20;
   position: absolute;
   top: 350vw;
   left: 10vw;
   width: 80%;
}

/* Story 1: Deleted */
#Story1 {
  z-index: 19;
  position: absolute;
  top: 34vw;
  left: 43.6vw;
  width: 22.5%;
}

/* Story 2: Media History */
#Story2 {
  z-index: 19;
  position: absolute;
  top: 34vw;
  left: 57.5vw;
  width: 22.5%;
}
#Radio {
  z-index: 30;
  position: absolute;
  top: 33.5vw;
  left: 60.5vw;
  width: 16%;
}
#TopRated2{
  z-index: 22;
  position: absolute;
  top: 32vw;
  left: 56vw;
  width: 5%;
}
#HiddenTop2 {
  position: absolute;
  top: 180vw;
  z-index: 0;
  color: white;
}
#BlackLine2 {
  position: absolute;
  top: 191vw;
  left: 7.5vw;
  width: 85%;
}
#DateTime2 {
  position: absolute;
  top: 196vw;
  left: 18.2vw;
  color: gray;
}
#Title2 {
  position: absolute;
  top: 195vw;
  left: 18vw;
}
#SquareAd2 {
  position: absolute;
  top: 195vw;
  left: 60vw;
}
#Subtitle2 {
  position: absolute;
  top: 213.5vw;
  left: 18.5vw;
}
#AuthorTime2 {
  position: absolute;
  top: 213.6vw;
  left: 39vw;
  color: gray;
}
#BodyCopy2A {
  position: absolute;
  top: 215vw;
  left: 30vw;
  right: 25vw;
  line-height: 1.4em;
}
#NoRadioAds {
  position: absolute;
  top: 248vw;
  left: 18vw;
  right: 27vw;
}
#NoRadioAdsSub {
  position: absolute;
  top: 275vw;
  left: 18vw;
  right: 27vw;
  line-height: 1.4em;
  color: gray;
}
#BodyCopy2B {
  position: absolute;
  top: 278vw;
  left: 30vw;
  right: 25vw;
  line-height: 1.4em;
}
#MoonHoax {
  position: absolute;
  top: 352vw;
  left: 18vw;
  right: 27vw;
  width: 48%;
}
#MoonHoaxSub {
  position: absolute;
  top: 388vw;
  left: 18vw;
  right: 30vw;
  line-height: 1.4em;
  color: gray;
}
#BodyCopy2C {
  position: absolute;
  top: 395vw;
  left: 30vw;
  right: 25vw;
  line-height: 1.4em;
}
#NoAlexaAds {
  position: absolute;
  top: 426vw;
  left: 18vw;
  right: 27vw;
  width: 50%;
}
#NoAlexaAdsSub {
  position: absolute;
  top: 462.5vw;
  left: 18vw;
  right: 30vw;
  line-height: 1.4em;
  color: gray;
}
#Article2End {
  position: absolute;
  top: 472vw;
  width: 100%;
}

/* Story 3: Dark Patterns */
#Story3 {
  z-index: 19;
  position: absolute;
  top: 55vw;
  left: 7.7vw;
  width: 22.5%;
}
#HiddenTop3 {
  position: absolute;
  top: 481vw;
  z-index: 0;
  color: white;
}
#BlackLine3 {
  position: absolute;
  top: 492vw;
  left: 7.5vw;
  width: 85%;
}
#DateTime3 {
  position: absolute;
  top: 497vw;
  left: 18.2vw;
  color: gray;
}
#Title3 {
  position: absolute;
  top: 496vw;
  left: 18vw;
}
#SquareAd3 {
  position: absolute;
  top: 496vw;
  left: 60vw;
}
#Subtitle3 {
  position: absolute;
  top: 514.5vw;
  left: 18.5vw;
}
#AuthorTime3 {
  position: absolute;
  top: 514.6vw;
  left: 39vw;
  color: gray;
}
#BodyCopy3A {
  position: absolute;
  top: 516vw;
  left: 30vw;
  right: 25vw;
  line-height: 1.4em;
}
#Dark1 {
  position: absolute;
  top: 540vw;
  left: 30vw;
  right: 27vw;
  width: 35%;
}
#BodyCopy3B {
  position: absolute;
  top: 570vw;
  left: 30vw;
  right: 25vw;
  line-height: 1.4em;
}
#Dark2 {
  position: absolute;
  left: 33vw;
  top: 580vw;
  width: 30%;
}
#BodyCopy3C {
  position: absolute;
  top: 620vw;
  left: 30vw;
  right: 25vw;
  line-height: 1.4em;
}
#Dark3 {
  position: absolute;
  top: 630vw;
  left: 27vw;
  right: 27vw;
  width: 44%;
}
#Dark4 {
  position: absolute;
  top: 670vw;
  left: 27vw;
  right: 27vw;
  width: 44%;
}
#BodyCopy3D {
  position: absolute;
  top: 700vw;
  left: 30vw;
  right: 25vw;
  line-height: 1.4em;
}
#Dark5 {
  position: absolute;
  top: 710vw;
  left: 27vw;
  right: 27vw;
  width: 44%;
}
#Dark6 {
  position: absolute;
  top: 745vw;
  left: 27vw;
  right: 27vw;
  width: 44%;
}
#BodyCopy3E {
  position: absolute;
  top: 790vw;
  left: 30vw;
  right: 25vw;
  line-height: 1.4em;
}
#Dark7 {
  position: absolute;
  top: 805vw;
  left: 27vw;
  right: 27vw;
  width: 44%;
}
#Dark8 {
  position: absolute;
  top: 820vw;
  left: 27vw;
  right: 27vw;
  width: 44%;
}
#BodyCopy3F {
  position: absolute;
  top: 890vw;
  left: 30vw;
  right: 25vw;
  line-height: 1.4em;
}
#Dark9 {
  position: absolute;
  top: 902.5vw;
  left: 27vw;
  right: 27vw;
  width: 44%;
}
#BodyCopy3G {
  position: absolute;
  top: 952vw;
  left: 30vw;
  right: 25vw;
  line-height: 1.4em;
}
#Article3End {
  position: absolute;
  top: 985vw;
  width: 100%;
}

/* Story 4: Attention Quiz */
#Story4 {
  z-index: 19;
  position: absolute;
  top: 55vw;
  left: 32.6vw;
  width: 22.5%;
}

/* Story 5: Lil Miqueala */
#Story5 {
  z-index: 19;
  position: absolute;
  cursor: pointer;
  top: 55vw;
  left: 57.5vw;
  width: 22.5%;
}
#InstaQs {
  z-index: 19;
  position: absolute;
  cursor: pointer;
  top: 52.5vw;
  left: 58vw;
  width: 22.5%;
}
#HiddenTop5 {
  position: absolute;
  top: 994vw;
  z-index: 0;
  color: white;
}
#BlackLine5 {
  position: absolute;
  top: 1005vw;
  left: 7.5vw;
  width: 85%;
}
#DateTime5 {
  position: absolute;
  top: 1010vw;
  left: 18.2vw;
  color: gray;
}
#Title5 {
  position: absolute;
  top: 1009vw;
  left: 18vw;
}
#SquareAd5 {
  position: absolute;
  top: 1009vw;
  left: 60vw;
}
#Subtitle5 {
  position: absolute;
  top: 1027.5vw;
  left: 18.5vw;
}
#AuthorTime5 {
  position: absolute;
  top: 1027.6vw;
  left: 40vw;
  color: gray;
}
#BodyCopy5A {
  position: absolute;
  top: 1029vw;
  left: 30vw;
  right: 25vw;
  line-height: 1.4em;
}
#RobotConfession{
  position: absolute;
  top: 1055vw;
  left: 18vw;
  width: 65%;
}
#BodyCopy5B {
  position: absolute;
  top: 1087vw;
  left: 30vw;
  right: 25vw;
  line-height: 1.4em;
}
#Article5End {
  position: absolute;
  top: 1134vw;
  width: 100%;
}


/* Story 6: CSM */
#Story6 {
  z-index: 19;
  position: absolute;
  cursor: pointer;
  top: 76vw;
  left: 7.7vw;
  width: 22.5%;
}
#HiddenTop6 {
  position: absolute;
  top: 1145vw;
  z-index: 0;
  color: white;
}
#BlackLine6 {
  position: absolute;
  top: 1154vw;
  left: 7.5vw;
  width: 85%;
}
#DateTime6 {
  position: absolute;
  top: 1159vw;
  left: 18.2vw;
  color: gray;
}
#Title6 {
  position: absolute;
  top: 1158vw;
  left: 18vw;
}
#SquareAd6 {
  position: absolute;
  top: 1158vw;
  left: 60vw;
}
#Subtitle6 {
  position: absolute;
  top: 1176.5vw;
  left: 18.5vw;
  right: 47vw;
}
#AuthorTime6 {
  position: absolute;
  top: 1176.6vw;
  left: 39vw;
  color: gray;
}
#BodyCopy6A {
  position: absolute;
  top: 1178vw;
  left: 30vw;
  right: 25vw;
  line-height: 1.4em;
}
#CSM1 {
  position: absolute;
  top: 1196vw;
  left: 33vw;
  right: 27vw;
  width: 35%;
}
#BodyCopy6B {
  position: absolute;
  top: 1241vw;
  left: 30vw;
  right: 25vw;
  line-height: 1.4em;
}
#CSM2 {
  position: absolute;
  left: 33vw;
  top: 1250vw;
  width: 30%;
}
#BodyCopy6C {
  position: absolute;
  top: 1280vw;
  left: 30vw;
  right: 25vw;
  line-height: 1.4em;
}
#CSM3 {
  position: absolute;
  top: 1289vw;
  left: 33vw;
  right: 27vw;
  width: 44%;
}
#BodyCopy6D {
  position: absolute;
  top: 1333vw;
  left: 30vw;
  right: 25vw;
  line-height: 1.4em;
}
#CSM4 {
  position: absolute;
  top: 1344vw;
  left: 33vw;
  right: 27vw;
  width: 35%;
}
#BodyCopy6E {
  position: absolute;
  top: 1379vw;
  left: 30vw;
  right: 25vw;
  line-height: 1.4em;
}
#CSM5 {
  position: absolute;
  top: 1390vw;
  left: 33vw;
  right: 27vw;
  width: 40%;
}
#BodyCopy6F {
  position: absolute;
  top: 1429vw;
  left: 30vw;
  right: 25vw;
  line-height: 1.4em;
}
#Article6End {
  position: absolute;
  top: 1443vw;
  width: 100%;
}

/* Story 7: Zuck */
#Story7 {
  z-index: 19;
  position: absolute;
  top: 76vw;
  left: 32.6vw;
  width: 22.5%;
}
#MarkyMark {
  z-index: 19;
  position: absolute;
  top: 75.8vw;
  left: 32.45vw;
  width: 23%;
}

/* Story 8: Smartphone Addiction */
#Story8 {
  z-index: 19;
  position: absolute;
  top: 76vw;
  left: 57.5vw;
  width: 22.5%;
}
#Eyes {
  z-index: 22;
  position: absolute;
  top: 76vw;
  left: 57.5vw;
  width: 22.5%;
}
#HiddenTop8 {
  position: absolute;
  top: 1454vw;
  z-index: 0;
  color: white;
}
#BlackLine8 {
  position: absolute;
  top: 1463vw;
  left: 7.5vw;
  width: 85%;
}
#DateTime8 {
  position: absolute;
  top: 1468vw;
  left: 18.2vw;
  color: gray;
}
#Title8 {
  position: absolute;
  top: 1467vw;
  left: 18vw;
}
#SquareAd8 {
  position: absolute;
  top: 1467vw;
  left: 60vw;
}
#Subtitle8 {
  position: absolute;
  top: 1485.5vw;
  left: 18.5vw;
  right: 47vw;
}
#AuthorTime8 {
  position: absolute;
  top: 1485.6vw;
  left: 39vw;
  color: gray;
}
#BodyCopy8A {
  position: absolute;
  top: 1487vw;
  left: 30vw;
  right: 25vw;
  line-height: 1.4em;
}
#Article8End {
  position: absolute;
  top: 1595vw;
  width: 100%;
}

/* Trending now */
#TopPicks {
   z-index: 20;
   position: absolute;
   top: 97vw;
   left: 13vw;
   width: 82%;
}
#TopPicks-new {
   z-index: 21;
   position: absolute;
   top: 97vw;
   left: 5.5vw;
   width: 94%;
}
#AngryNewsGIF {
   z-index: 21;
   position: absolute;
   top: 95vw;
   left: 16.5vw;
   width: 22%;
}
#QuizGIF {
   z-index: 21;
   position: absolute;
   top: 102vw;
   left: 34vw;
   width: 11.5%;
}
#DiceGIF {
   z-index: 21;
   position: absolute;
   top: 95.3vw;
   left: 39vw;
   width: 25%;
}
#ScarfGirlGIF {
   z-index: 21;
   position: absolute;
   top: 103.4vw;
   left: 56.2vw;
   width: 15%;
}
#PornGIF {
   z-index: 21;
   position: absolute;
   top: 102.5vw;
   left: 69vw;
   width: 14%;
}

/* Story 9: Teddy */
#Story9 {
  z-index: 21;
  position: absolute;
  top: 123vw;
  left: 7.7vw;
  width: 22.5%;
}
#TopRated1{
  z-index: 22;
  position: absolute;
  top: 121vw;
  left: 6vw;
  width: 5%;
}

/* Story 10: Cambridge Analytica */
#Story10 {
  z-index: 21;
  position: absolute;
  top: 123vw;
  left: 32.6vw;
  width: 22.5%;
}
#HiddenTop10 {
  position: absolute;
  top: 1604vw;
  z-index: 0;
  color: white;
}
#BlackLine10 {
  position: absolute;
  top: 1615vw;
  left: 7.5vw;
  width: 85%;
}
#DateTime10 {
  position: absolute;
  top: 1620vw;
  left: 18.2vw;
  color: gray;
}
#Title10 {
  position: absolute;
  top: 1619vw;
  left: 18vw;
}
#SquareAd10 {
  position: absolute;
  top: 1619vw;
  left: 60vw;
}
#Subtitle10 {
  position: absolute;
  top: 1637.5vw;
  left: 18.5vw;
  right: 47vw;
}
#AuthorTime10 {
  position: absolute;
  top: 1637.6vw;
  left: 39vw;
  color: gray;
}
#BodyCopy10A {
  position: absolute;
  top: 1639vw;
  left: 30vw;
  right: 25vw;
  line-height: 1.4em;
}
#Article10End {
  position: absolute;
  top: 1755vw;
  width: 100%;
}

/* Story 11: Pay4Social */
#Story11 {
  z-index: 21;
  position: absolute;
  top: 123vw;
  left: 57.5vw;
  width: 22.5%;
}

/* Story 12: Poem */
#Story12 {
  z-index: 21;
  position: absolute;
  top: 144vw;
  left: 7.7vw;
  width: 22.5%;
}
#PoemPopup {
  display: none;
  position: fixed;
  top: 16vh;
  left: 5.5vw;
  z-index:33;
  width: 76%;
}
#Poem {
  z-index:34;
  width: 99.5%;
  justify-content: center;
  left: 3.2vw;
}

/* Story 13: Big 5 Personality Quiz */
#Story13 {
  z-index: 21;
  position: absolute;
  top: 144vw;
  left: 32.6vw;
  width: 22.5%;
}

/* Story 14: Ad-blocking evil? */
#Story14 {
  z-index: 21;
  position: absolute;
  top: 144vw;
  left: 57.5vw;
  width: 22.5%;
}

/* Sponsored 1: Jess */
#Sponsored1 {
  z-index: 21;
  position: absolute;
  top: 165vw;
  left: 7.7vw;
  width: 22.5%;
}
#JessGIF {
  z-index: 21;
  position: absolute;
  top: 165vw;
  left: 7.7vw;
  width: 22.5%;
}

/* Sponsored 2: Rikke */
#Sponsored2 {
  z-index: 21;
  position: absolute;
  top: 165vw;
  left: 32.6vw;
  width: 22.5%;
}
#RikkeGIF {
  z-index: 21;
  position: absolute;
  top: 165vw;
  left: 32.6vw;
  width: 22.5%;
}

/* Sponsored 3: Julie */
#Sponsored3 {
  z-index: 21;
  position: absolute;
  top: 165vw;
  left: 57.5vw;
  width: 22.5%;
}
#JulieGIF{
  z-index: 21;
  position: absolute;
  top: 165vw;
  left: 57.55vw;
  width: 22.5%;
}

/* Dog */
#PuppyCouch{
  z-index: 21;
  position: relative;
  top: 150vw;
  left: -1vw;
  width: 70%;
}
#notification-PuppyCouch {
  z-index: 21;
  position: absolute;
  top: 171.5vw;
  left: 14.6vw;
  width: 8%;
}

/* iPhone */
#wam-game {
	height: 15vw;
	width: 30%;
	display: block;
	position: absolute;
	top: 231vw;
	left: 55vw;
  z-index:30;
}
#LeftHand1 {
  position: absolute;
  top: 240vw;
  left: 0vw;
  z-index: 21;
  width: 100%;
}
#RightHand {
  position: absolute;
  top: 250vw;
  right: 0vw;
  z-index: 21;
  width: 100%;
}
#notification-iPhones {
  z-index: 30;
  position: absolute;
  top: 274.5vw;
  left: 48vw;
  width: 9%;
}
.wam-pesky-mole,
.wam-pesky-mole-dead {
	width: 10vw;
	height: 10vw;
	background: url('GIFs/notification-transparent.gif') no-repeat;
  background-size: 8vw 8vw;
	position: absolute;
	display: block;
	cursor: pointer;
	z-index: 10;
}
.wam-pesky-mole-dead {
	background: url('images/mole-dead8.png') no-repeat;
}
.wam-scoreboard {
	width: 60vw;
	line-height: 3vw;
	position: fixed;
	top: 10vw;
	left: 2vw;
	font-size: 3vw;
	text-transform: uppercase;
	color: red;
	font-family: Reglo-Bold;
	z-index: 30;
}
.wam-startScreen {
  position: absolute;
  top: -1.5vw;
  left: -3.5vw;
	cursor: pointer;
  font-family: 'CothamSans';
  font-size: 4vw;
  color: red;
	z-index: 28;

}
.wam-endScreen {
  height: 300px;
	width: 300px;
  position: absolute;
  top: 40%;
  left: 5%;
	cursor: pointer;
  font-family: 'CothamSans';
  font-size: 4vw;
  color: yellow;
	z-index: 1;
}

/* Footer */
#footer{
  z-index: 29;
  position: absolute;
  top: 2000vw;
  left: 5vw;
  width: 90%;
}

/* Timers */
#minutes {
  z-index: 31;
  font-family: 'Reglo-Bold';
  font-size: 3vw;
  position: fixed;
  top: 4vw;
  left: 47vw;
  color: #F7F7F7;
}
#seconds {
  z-index: 31;
  font-family: 'Reglo-Bold';
  font-size: 3vw;
  position: fixed;
  top: 4vw;
  left: 51vw;
  color: #F7F7F7;
}
