#checkoutclick {
  cursor: pointer;
}


/* QUIZ */
#table_1 {
        background-color: white;
        width: 100%;
        height: 100%;
        color: black;
        text-align: center;
        font-family: "Sintony", sans-serif;
    }
#center001 {
        text-align: center;
        font-family: "Sintony", sans-serif;
    }
#question01 {
        text-align: center;
        font-family: "Sintony", sans-serif;
        font-size: 2em;
        line-height: 1.2em;
        }
#q001 {
  color: rgb(0,0,0,0);
  line-height: .2em;
  font-size: .2em;
}
#score001 {
  color: rgb(0,0,0,0);
  line-height: .2em;
  font-size: .2em;
}
#attempts {
  color: rgb(0,0,0,0);
  line-height: .2em;
  font-size: .2em;
}
#b001 {
  padding: 10px 20px;
  border: 2px solid black;
  transition: background-color .4s ease;
  font-size: 2em;
  position: fixed;
  align-items: center;
  justify-content: center;
  text-align: center;
  left: 35%;
}


/* start.html */
#RedStar {
  z-index: -1;
  top: 27vw;
  left: 42vw;
  width: 15%;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Archivo|Average+Sans|Harmattan|Pavanam');
@font-face {
    font-family: Reglo-Bold;
    src: url("fonts/Reglo-Bold.otf") format("opentype");
}
@font-face {
    font-family: LibreBaskerville-Regular;
    src: url("fonts/LibreBaskerville-Regular.otf") format("opentype");
}
@font-face {
    font-family: CothamSans;
    src: url("fonts/CothamSans.otf") format("opentype");
}
@font-face {
    font-family: LeagueGothic;
    src: url("fonts/LeagueGothic-Italic.otf") format("opentype");
}
@font-face {
    font-family: SFProText;
    src: url("fonts/SF-Pro-Text-Regular.otf") format("opentype");
}
h1 {
  font-family: 'LeagueGothic';
  font-size: 16vw;
  line-height: 13vh;
  text-align: center;
  /* text-transform: uppercase; */
}
h2 {
  font-family: 'LeagueGothic';
  font-size: 4.3vw;
  letter-spacing: .1vw;
  line-height: 1.1em;
}
h3 {
  font-family: 'Sintony', sans-serif;
  font-size: 3vw;
  line-height: 4vw;
  text-align: center;
}
h4 {
  font-family: 'Sintony', sans-serif;
  font-weight: lighter;
  font-size: .925vw;
  text-align: justify;
  margin-left: 29vw;
  margin-right: 29vw;
  line-height: 1.2vw;
  color: gray;
}
h6 {
  font-family: 'Sintony', sans-serif;
  font-size: 2vw;
  top: 0vw;
  right: 3.6vw;
  position: fixed;
  z-index: 32;
}
sub {
  font-family: 'Sintony', sans-serif;
  font-size: 1vw;
}
p {
  font-family: 'Sintony', sans-serif;
  font-size: 1.25vw;
}
img{
    position:absolute;
}
a{
  text-decoration: none;
  color: black;
}

/* Quiz */
#quiz {
	margin-left: 3vw;
  margin-right: 3vw;
	background: none;
	padding: 2vw;
	width: 90%;
  columns: 1;
	float: center;
  display: inline-block;
  font-size: 1.2em;
  font-family: 'Sintony', sans-serif;
}
input {
	margin-bottom: 1vw;
	display: block;
  font-size: 1.2em;
  font-family: 'Sintony', sans-serif;
}
#quizdone {
	background: white;
	border: 1px black;
	padding: 1vw;
	color: black;
	font-size: 16px;
	transition-duration: .2s;
	margin-top: 15px;
  z-index:40;
}
#quizdone:hover {
	background: lightgray;
  border: 1px black;
	color: black;
	cursor: pointer;

}
#after_submit {
	visibility: hidden;
	background: #ff5459;
	padding: 10px 20px 10px 20px;
	width: 400px;
	border-radius: 20px;
	float: left;
	margin-left: 20px;
	font-size: 30px;
  z-index:40;
}
#picture {
	width: 375px;
	height: 245px;
}
#mc {
	display: inline;
  height: 1vw;
  font-size: 1.2em;
  font-family: 'Sintony', sans-serif;
  font-size: 1.25vw;
  border: none;
  padding-left: .5vw;;
}

/* Timed Popups*/
#CookiePopup {
  position: fixed;
  top: 0vw;
  left:0vw;
  width: 100%;
  z-index: 33;
}
#CookiePopupStyle {
  background-color: yellow;
  width: 100%;
  z-index: 34;
  color: black;
  line-height: .4vw;
}
#CookiePopupStyle button {
  border: .1vw solid black;
  padding: .15vw;
  transition: background-color .4s ease
  position: fixed;
}
#CookiePopupStyle button:hover {
  background-color: lightgray;
}

#CheckoutPopup {
  display: none;
  background: url("GIFs/RedStar.gif");
  background-size: 100%;
  width: 18%;
  top: 12vh;
  right: 3%;
  height: 32.5vh;
  position: fixed;
  background-color: none;
  border: 0px solid black;
  padding: 1vw 1vw;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.4em;
  z-index: 33;
  color: white;
}
#CheckoutPopup button {
  padding: .5vw .6vw;
  border: .1vw solid black;
  transition: background-color .4s ease;
  position:fixed;
  right: 11.5%;
  top: 36vh;
  z-index: 34;
}
#CheckoutPopup button:hover {
  background-color: lightgray;
}
#RedStarCheckout {
  position:fixed;
  right: 3%;
  top: 12vh;
  width: 20%;
  z-index: 32;
}

#RandomPopup1 {
  position: fixed;
  display: none;
  top: 10vw;
  width: 60vw;
  height: 40vw;
  left: 20vw;
  z-index: 33;
  overflow: hidden;
}
#RandomPopup1Style {
  background-image: url("images/wave.jpg");
  text-align: center;
  border: 2px solid black;
  padding: 20px 40px;
  width: 100%;
  z-index: 34;
  overflow: hidden;
}
#RandomPopup1Style button {
  padding: .5vw .7vw;
  border: .1vw solid black;
  transition: background-color .4s ease;
  position:absolute;
  top: 1vw;
  right: 1vw;
  font-size: 1em;
}
#RandomPopup1Style button:hover {
  background-color: lightgray;
}
#wave {
  top: 1vw;
  left: 1vw;
  width: 100%;
  overflow: hidden;

}

#RandomPopup2 {
  width: 70%;
  height: 70%;
  right: 0vw;
  top: -15vw;
  display: none;
  position: fixed;
  z-index: 33;
}
#RandomPopup2Style {
  background-color: none;
  border: 0px solid black;
  top: 0vw;
  left: 0vw;
  width: 100%;
  height: 100%;
  z-index: 33;
}
#RandomPopup2Style button {
  padding: .5vw .7vw;
  border: .1vw solid black;
  transition: background-color .4s ease;
  position: fixed;
  top:13vw;
  right: 1vw;
  z-index: 34;
  font-size: 1em;
}
#RandomPopup2Style button:hover {
  background-color: lightgray;
}

#AdPopup1 {
  background-image:url("images/PopupAd.png");
  width: 20%;
  height: 70%;
  left: 3vw;
  top:20vh;
  display: none;
  position: fixed;
  z-index: 33;
}
#AdPopup1Style {
  background-image: url("images/PopupAd.png");
  text-align: center;
  border: 2px solid black;
  padding: 20px 40px;
  width: 100%;
  z-index: 34;
  overflow: hidden;
}
#AdPopup1Style button {
  padding: .5vw .7vw;
  border: .1vw solid black;
  transition: background-color .4s ease;
  position:absolute;
  top: 1vw;
  right: 1vw;
  font-size: 1em;
}
#AdPopup1Style button:hover {
  background-color: lightgray;
}
#AdPopup2 {
  background-image:url("images/PopupAd.png");
  width: 20%;
  height: 70%;
  right: 3vw;
  top: 20vh;
  display: none;
  position: fixed;
  z-index: 33;
}
#AdPopup2Style {
  background-image:url("images/PopupAd.png");
  border: 2px solid black;
  top: 0vw;
  left: 0vw;
  width: 100%;
  height: 100%;
  z-index: 33;
}
#AdPopup2Style button {
  padding: .5vw .7vw;
  border: .1vw solid black;
  transition: background-color .4s ease;
  position: fixed;
  top:12vw;
  right: 4vw;
  z-index: 34;
  font-size: 1em;
}
#RAdPopup2Style button:hover {
  background-color: lightgray;
}

/* iPhone */
#wam-game {
	height: 15vw;
	width: 30%;
  top: 35.5vw;
  left: 27.5vw;
	display: block;
	position: fixed;
  z-index:31;
}
#RightHand {
  right:-10vw;
  position:fixed
  top: 0vw;
  width: 170%;
  z-index:30;
}
#RightHandGIF {
  right: -10vw;
  position: fixed;
  top: -28.5vh;
  width: 119%;
  z-index: 31;
}
#RightHandGIFYellow {
  right: -10vw;
  position: fixed;
  top: -28.5vh;
  width: 119%;
  z-index: 30;
}
#notification-iPhones {
  z-index: 30;
  top: 15.6vw;
  left: 48.8vw;
  position: fixed;
  width: 9%;
}
.wam-pesky-mole,
.wam-pesky-mole-dead {
	width: 10vw;
	height: 10vw;
	background: url('GIFs/notification-transparent.gif') no-repeat;
  background-size: 8vw 8vw;
	position: absolute;
	display: block;
	cursor: pointer;
	z-index: 10;
}
.wam-pesky-mole-dead {
	background: url('images/mole-dead8.png') no-repeat;
}
.wam-scoreboard {
	width: 60vw;
	line-height: 3vw;
	position: fixed;
	top: 3vw;
	left: 30vw;
	font-size: 5vw;
  line-height: 1.2em;
	text-transform: uppercase;
	color: red;
	font-family: Reglo-Bold;
	z-index: 30;
}
.wam-startScreen {
  position: absolute;
  top: -5vw;
  left: -5vw;
	cursor: pointer;
  font-family: 'CothamSans';
  font-size: 7vw;
  color: red;
	z-index: 35;

}
.wam-endScreen {
  height: 300px;
	width: 300px;
  position: absolute;
  top: 10%;
  left: 10%;
	cursor: pointer;
  font-family: 'LeagueGothic';
  font-size: 7.5vw;
  line-height: 1em;
  color: red;
	z-index: 34;
}

/* onClick Popups */
#MessagePopup{
  align-items: center;
  display: none;
  position: fixed;
  justify-content: left;
  top: 7vw;
  right: 4vw;
  z-index:33;
  width: 25%;
}
#MessagePopupStyle {
  background-color: white;
  border: 2px solid black;
  padding: 1.5vw;
  width: 100%;
  z-index: 34;
}
#MessagePopupStyle button {
  top: 1vw;
  padding-left: 13vw;
  font-size: 1em;
  border: 0px solid black;
  transition: background-color .4s ease
}
#MessagePopupStyle button:hover {
  color: lightgray;
  cursor: pointer;
}
#BlueNew {
  font-size: 3em;
  line-height: 1em;
  color: blue;
}

#AttnQuizPopup{
  align-items: center;
  display: none;
  justify-content: center;
  position: fixed;
  z-index: 33;
  width: 75%;
  top: 5vh;
  left: 50%;
  height: 80vh;
  transform: translateX(-50%);
  overflow-y: scroll;
  background-color: lightgray;
  border: 2px solid black;
}
#AttnQuizPopupStyle {
  /* padding: 2vw;
  width: 100%;
  z-index: 34; */
}
#AttnQuizPopupStyle button {
  padding: 10px 20px;
  border: 2px solid black;
  transition: background-color .4s ease
}
#AttnQuizPopupStyle button:hover {
  background-color: lightgray;
}

#AttnQuizPopup2{
  align-items: center;
  display: none;
  justify-content: center;
  position: fixed;
  z-index: 33;
  width: 75%;
  top: 5vh;
  left: 50%;
  height: 80vh;
  transform: translateX(-50%);
  overflow-y: scroll;
  background-color: white;
  border: 2px solid black;
}
#AttnQuizPopup2 button {
  padding: 10px 20px;
  border: 2px solid black;
  transition: background-color .4s ease;
  z-index: 34;

}

#AttnQuizPopup2 button:hover {
  background-color: lightgray;
}
#Teddy3{
  z-index: 30;
  top: 22vw;
  left: 2vw;
  width: 90%;
}
#TeddyPopup{
  align-items: center;
  display: none;
  justify-content: center;
  background-color: white;
  position: fixed;
  z-index: 34;
  width: 40%;
  top: 15vh;
  left: 50%;
  height: 80vh;
  transform: translateX(-50%);
  overflow-y: scroll;
  border: 2px solid black;
}

#TeddyPopup button {
  padding: 10px 20px;
  border: 2px solid black;
  transition: background-color .4s ease;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}
#TeddyPopup button:hover {
  background-color: lightgray;
}

#MarkyMarkPopup{
  align-items: center;
  cursor: pointer;
  display: none;
  justify-content: center;
  position: fixed;
  z-index: 33;
  width: 560px;
  height: 315px;
  /* width: 50%; */
  top: 55vh;
  right: 5vw;
  /* left: 50%; */
  /* height: 40vh; */
  /* transform: translateX(-50%); */
  overflow-y: scroll;
  background-color: lightgray;
  border: 2px solid black;
}
#MarkyMarkPopup button {
  padding: 10px 20px;
  position: fixed;
  top: 56vh;
  right: 5.5vw;
  border: 2px solid black;
  transition: background-color .4s ease
}
#MarkyMarkPopup button:hover {
  background-color: lightgray;
}


/* Other popup stuff */
.content {
  padding: .5vw;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
  padding: 1px;
  z-index: 2;
}
.sticky + .content {
  padding-top: .5vw;
}
.button {
  background-color: yellow;
  border: none;
  color: black;
  font-family: 'Reglo-Bold';
  text-decoration: none;
  font-size: 30px;
  padding: 20px;
  cursor: pointer;
  border: none;
  z-index: 20;
}
.notification-button {
  background-color: none;
  border: none;
  cursor: pointer;
  z-index: 20;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 20; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}
.modal-content {
    position: absolute;
    top:11vw;
    left:25vw;
    background-color: white;
    margin: auto;
    padding: 0;
    border: 0px solid #888;
    width: 50%;
    animation-name: animatetop;
    animation-duration: 0.5s
    z-index: 20;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-header {
    padding: 1vw;
    background-color: #bb7cd6;
    color: black;
}
.modal-body {
  padding: 1vw;
  background-color: #bb7cd6;
  color: black;
}
.modal-footer {
    background-color: #bb7cd6;
    padding: 1vw;
    color: black;
}
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/* TopMenu */
#TinyNav {
  width: 80%;
  right:3vw;
  background-color: #ffffff;
  z-index: 31;
}
#navbar {
  overflow: visible;
  position: fixed;
  height: 9vw;
  width: 100%;
  background-color: #ffffff;
  z-index: 32;
}
#navbar a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding-left: 2.5vw;
  padding-top: .01vw;
  text-decoration: none;
  z-index: 33;
}
#hello {
  position: right;
  margin-top: 3vw;
  z-index: 22;
}
#MessageIcon {
   z-index: 32;
   position: fixed;
   top: 10vh;
   right: 15.5vw;
   width: 2%;
}
#notification-pulse {
  z-index: 32;
  position: fixed;
  cursor:pointer;
  top: 4.6vh;
  right: 12.6vw;
  width: 6%;
}

/* Title. */
#Title {
  font-family: "LeagueGothic";
  position: absolute;
  z-index: 30;
}
#AttnCollectionTitle {
   z-index: 20;
   position: absolute;
   top: 30vw;
   left: -1vw;
   width: 115%;
}
#AttnCollectionTitleNew {
   z-index: 20;
   position: absolute;
   top: 18vw;
   left: -1vw;
   width: 57%;
}

#BlackLineSponsored {
  z-index: 20;
  position: absolute;
  top: 158vw;
  left: 8vw;
  width: 72%;
}

/* Ads */
#BannerAd {
   z-index: 30;
   position: absolute;
   top: 13vw;
   left: 10vw;
   width: 80%;
   color: white;
}
#Skyscraper {
   z-index: 30;
   position: absolute;
   top: 37vw;
   right: 5vw;
   width: 10%;
}
#Skyscraper2 {
   z-index: 30;
   position: absolute;
   top: 130vw;
   right: 5vw;
   width: 10%;
}
#SmallBanner1 {
   z-index: 20;
   position: absolute;
   top: 168vw;
   left: 10vw;
   width: 80%;
}
#SmallBanner2 {
   z-index: 20;
   position: absolute;
   top: 240vw;
   left: 10vw;
   width: 80%;
}
#SmallBanner3 {
   z-index: 20;
   position: absolute;
   top: 350vw;
   left: 10vw;
   width: 80%;
}


/* Story 2: Media History */
#Story2 {
  z-index: 19;
  position: absolute;
  cursor: pointer;
  top: 34vw;
  left: 57.5vw;
  width: 22.5%;
}
#Radio {
  z-index: 30;
  position: absolute;
  cursor: pointer;
  top: 33.5vw;
  left: 60.5vw;
  width: 16%;
}
#TopRated2{
  z-index: 22;
  position: absolute;
  top: 32vw;
  left: 56vw;
  width: 5%;
}
#HiddenTop2 {
  position: absolute;
  top: 180vw;
  z-index: 0;
  color: white;
}
#BlackLine2 {
  position: absolute;
  top: 191vw;
  left: 7.5vw;
  width: 85%;
}
#DateTime2 {
  position: absolute;
  top: 196vw;
  left: 18.2vw;
  color: gray;
}
#Title2 {
  position: absolute;
  top: 195vw;
  left: 18vw;
}
#SquareAd2 {
  position: absolute;
  top: 195vw;
  left: 60vw;
  width: 22%;
}
#SkyscraperStory2 {
  position: absolute;
  top: 290vw;
  left: 10vw;
  width: 10%;
}
#Subtitle2 {
  position: absolute;
  top: 213.5vw;
  left: 18.5vw;
}
#AuthorTime2 {
  position: absolute;
  top: 213.6vw;
  left: 39vw;
  color: gray;
}
#BodyCopy2A {
  position: absolute;
  top: 215vw;
  left: 30vw;
  right: 25vw;
  line-height: 1.4em;
}
#NoRadioAds {
  position: absolute;
  top: 248vw;
  left: 18vw;
  right: 27vw;
}
#NoRadioAdsSub {
  position: absolute;
  top: 275vw;
  left: 18vw;
  right: 27vw;
  line-height: 1.4em;
  color: gray;
}
#BodyCopy2B {
  position: absolute;
  top: 278vw;
  left: 30vw;
  right: 25vw;
  line-height: 1.4em;
}
#MoonHoax {
  position: absolute;
  top: 352vw;
  left: 18vw;
  right: 27vw;
  width: 48%;
}
#MoonHoaxSub {
  position: absolute;
  top: 388vw;
  left: 18vw;
  right: 30vw;
  line-height: 1.4em;
  color: gray;
}
#BodyCopy2C {
  position: absolute;
  top: 395vw;
  left: 30vw;
  right: 25vw;
  line-height: 1.4em;
}
#NoAlexaAds {
  position: absolute;
  top: 426vw;
  left: 18vw;
  right: 27vw;
  width: 50%;
}
#NoAlexaAdsSub {
  position: absolute;
  top: 462.5vw;
  left: 18vw;
  right: 30vw;
  line-height: 1.4em;
  color: gray;
}
#Article2End {
  position: absolute;
  top: 472vw;
  width: 100%;
}
#BlackLineRelatedTop2 {
  position: absolute;
  top: 472vw;
  left: 20vw;
  width: 60%;
}
#RelatedArticles2 {
  position: absolute;
  font-size: 1em;
  top: 473vw;
  left: 20vw;
}
#RelatedTopLeft2{
  position: absolute;
  font-size: 1.5em;
  top: 476vw;
  left: 22vw;
  width: 18.5%;
}
#RelatedBottomLeft2{
  position: absolute;
  font-size: 1.5em;
  top: 481vw;
  left: 22vw;
  width: 18.5%;
}
#RelatedTopMiddle2{
  position: absolute;
  font-size: 1.5em;
  top: 476vw;
  left: 41vw;
  width: 18.5%;
}
#RelatedBottomMiddle2{
  position: absolute;
  font-size: 1.5em;
  top: 481vw;
  left: 41vw;
  width: 18.5%;
}
#RelatedTopRight2{
  position: absolute;
  font-size: 1.5em;
  top: 476vw;
  left: 60vw;
  width: 18.5%;
}
#RelatedBottomRight2{
  position: absolute;
  font-size: 1.5em;
  top: 481vw;
  left: 60vw;
  width: 18.5%;
}
#BlackLineRelatedBottom2 {
  position: absolute;
  top: 487vw;
  left: 20vw;
  width: 60%;
}

/* Story 3: Dark Patterns */
#Story3 {
  z-index: 19;
  position: absolute;
  cursor: pointer;
  top: 56vw;
  left: 7.7vw;
  width: 22.5%;
}
#HiddenTop3 {
  position: absolute;
  top: 481vw;
  z-index: 0;
  color: white;
}
#BlackLine3 {
  position: absolute;
  top: 492vw;
  left: 7.5vw;
  width: 85%;
}
#DateTime3 {
  position: absolute;
  top: 497vw;
  left: 18.2vw;
  color: gray;
}
#Title3 {
  position: absolute;
  top: 496vw;
  left: 18vw;
}
#SquareAd3 {
  position: absolute;
  top: 496vw;
  left: 60vw;
  width: 22%;
}
#SkyscraperStory3A {
  position: absolute;
  top: 523vw;
  left: 10vw;
  width: 10%;
}
#SkyscraperStory3B {
  position: absolute;
  top: 630vw;
  left: 10vw;
  width: 10%;
}
#Subtitle3 {
  position: absolute;
  top: 514.5vw;
  left: 18.5vw;
}
#AuthorTime3 {
  position: absolute;
  top: 514.6vw;
  left: 39vw;
  color: gray;
}
#BodyCopy3A {
  position: absolute;
  top: 516vw;
  left: 30vw;
  right: 25vw;
  line-height: 1.4em;
}
#Dark1 {
  position: absolute;
  top: 540vw;
  left: 30vw;
  right: 27vw;
  width: 35%;
  border: 5px black;
}
#BodyCopy3B {
  position: absolute;
  top: 570vw;
  left: 30vw;
  right: 25vw;
  line-height: 1.4em;
}
#Dark2 {
  position: absolute;
  left: 33vw;
  top: 580vw;
  width: 30%;
  border: 1px black;
}
#BodyCopy3C {
  position: absolute;
  top: 620vw;
  left: 30vw;
  right: 25vw;
  line-height: 1.4em;
}
#Dark3 {
  position: absolute;
  top: 630vw;
  left: 27vw;
  right: 27vw;
  width: 44%;
  border: 1px black;
}
#Dark4 {
  position: absolute;
  top: 670vw;
  left: 27vw;
  right: 27vw;
  width: 44%;
  border: 1px black;
}
#BodyCopy3D {
  position: absolute;
  top: 700vw;
  left: 30vw;
  right: 25vw;
  line-height: 1.4em;
}
#Dark5 {
  position: absolute;
  top: 710vw;
  left: 27vw;
  right: 27vw;
  width: 44%;
  border: 1px black;
}
#Dark6 {
  position: absolute;
  top: 745vw;
  left: 27vw;
  right: 27vw;
  width: 44%;
  border: 1px black;
}
#BodyCopy3E {
  position: absolute;
  top: 790vw;
  left: 30vw;
  right: 25vw;
  line-height: 1.4em;
}
#Dark7 {
  position: absolute;
  top: 805vw;
  left: 27vw;
  right: 27vw;
  width: 44%;
  border: 1px black;
}
#Dark8 {
  position: absolute;
  top: 820vw;
  left: 27vw;
  right: 27vw;
  width: 44%;
  border: 1px black;
}
#BodyCopy3F {
  position: absolute;
  top: 890vw;
  left: 30vw;
  right: 25vw;
  line-height: 1.4em;
}
#Dark9 {
  position: absolute;
  top: 902.5vw;
  left: 27vw;
  right: 27vw;
  width: 44%;
  border: 1px black;
}
#BodyCopy3G {
  position: absolute;
  top: 952vw;
  left: 30vw;
  right: 25vw;
  line-height: 1.4em;
}
#Article3End {
  position: absolute;
  top: 985vw;
  width: 100%;
}
#BlackLineRelatedTop3 {
  position: absolute;
  top: 985vw;
  left: 20vw;
  width: 60%;
}
#RelatedArticles3 {
  position: absolute;
  font-size: 1em;
  top: 986vw;
  left: 20vw;
  width: 18.5%;
}
#RelatedTopLeft3{
  position: absolute;
  font-size: 1.5em;
  top: 989vw;
  left: 22vw;
  width: 18.5%;
}
#RelatedBottomLeft3{
  position: absolute;
  font-size: 1.5em;
  top: 994vw;
  left: 22vw;
  width: 18.5%;
}
#RelatedTopMiddle3{
  position: absolute;
  font-size: 1.5em;
  top: 989vw;
  left: 41vw;
  width: 18.5%;
}
#RelatedBottomMiddle3{
  position: absolute;
  font-size: 1.5em;
  top: 994vw;
  left: 41vw;
  width: 18.5%;
}
#RelatedTopRight3{
  position: absolute;
  font-size: 1.5em;
  top: 989vw;
  left: 60vw;
  width: 18.5%;
}
#RelatedBottomRight3{
  position: absolute;
  font-size: 1.5em;
  top: 994vw;
  left: 60vw;
  width: 18.5%;
}
#BlackLineRelatedBottom3 {
  position: absolute;
  top: 1000vw;
  left: 20vw;
  width: 60%;
}

/* Story 4: Attention Quiz */
#Story4 {
  z-index: 19;
  position: absolute;
  cursor: pointer;
  top: 56vw;
  left: 32.6vw;
  width: 22.5%;
}

/* Story 5: Lil Miqueala */
#Story5 {
  z-index: 19;
  position: absolute;
  cursor: pointer;
  top: 56vw;
  left: 57.5vw;
  width: 22.5%;
}
#InstaQs {
  z-index: 19;
  position: absolute;
  cursor: pointer;
  top: 53.5vw;
  left: 58vw;
  width: 22.5%;
}
#HiddenTop5 {
  position: absolute;
  top: 994vw;
  z-index: 0;
  color: white;
}
#BlackLine5 {
  position: absolute;
  top: 1005vw;
  left: 7.5vw;
  width: 85%;
}
#DateTime5 {
  position: absolute;
  top: 1010vw;
  left: 18.2vw;
  color: gray;
}
#Title5 {
  position: absolute;
  top: 1009vw;
  left: 18vw;
}
#SquareAd5 {
  position: absolute;
  top: 1009vw;
  left: 60vw;
  width: 22%;
}
#Subtitle5 {
  position: absolute;
  top: 1027.5vw;
  left: 18.5vw;
}
#AuthorTime5 {
  position: absolute;
  top: 1027.6vw;
  left: 40vw;
  color: gray;
}
#BodyCopy5A {
  position: absolute;
  top: 1029vw;
  left: 30vw;
  right: 25vw;
  line-height: 1.4em;
}
#RobotConfession{
  position: absolute;
  top: 1055vw;
  left: 18vw;
  width: 65%;
}
#BodyCopy5B {
  position: absolute;
  top: 1087vw;
  left: 30vw;
  right: 25vw;
  line-height: 1.4em;
}
#Article5End {
  position: absolute;
  top: 1134vw;
  width: 100%;
}
#BlackLineRelatedTop5 {
  position: absolute;
  top: 1134vw;
  left: 20vw;
  width: 60%;
}
#RelatedArticles5 {
  position: absolute;
  font-size: 1em;
  top: 1135vw;
  left: 20vw;
  width: 18.5%;
}
#RelatedTopLeft5 {
  position: absolute;
  font-size: 1.5em;
  top: 1138vw;
  left: 22vw;
  width: 18.5%;
}
#RelatedBottomLeft5 {
  position: absolute;
  font-size: 1.5em;
  top: 1143vw;
  left: 22vw;
  width: 18.5%;
}
#RelatedTopMiddle5 {
  position: absolute;
  font-size: 1.5em;
  top: 1138vw;
  left: 41vw;
  width: 18.5%;
}
#RelatedBottomMiddle5 {
  position: absolute;
  font-size: 1.5em;
  top: 1143vw;
  left: 41vw;
  width: 18.5%;
}
#RelatedTopRight5 {
  position: absolute;
  font-size: 1.5em;
  top: 1138vw;
  left: 60vw;
  width: 18.5%;
}
#RelatedBottomRight5 {
  position: absolute;
  font-size: 1.5em;
  top: 1143vw;
  left: 60vw;
  width: 18.5%;
}
#BlackLineRelatedBottom5 {
  position: absolute;
  top: 1149vw;
  left: 20vw;
  width: 60%;
}


/* Story 6: CSM */
#Story6 {
  z-index: 19;
  position: absolute;
  cursor: pointer;
  top: 78vw;
  left: 7.7vw;
  width: 22.5%;
}
#HiddenTop6 {
  position: absolute;
  top: 1145vw;
  z-index: 0;
  color: white;
}
#BlackLine6 {
  position: absolute;
  top: 1154vw;
  left: 7.5vw;
  width: 85%;
}
#DateTime6 {
  position: absolute;
  top: 1159vw;
  left: 18.2vw;
  color: gray;
}
#Title6 {
  position: absolute;
  top: 1158vw;
  left: 18vw;
}
#SquareAd6 {
  position: absolute;
  top: 1158vw;
  left: 60vw;
  width: 22%;
}
#SkyscraperStory6 {
  position: absolute;
  top: 1250vw;
  left: 10vw;
  width: 10%;
}
#Subtitle6 {
  position: absolute;
  top: 1176.5vw;
  left: 18.5vw;
  right: 47vw;
}
#AuthorTime6 {
  position: absolute;
  top: 1176.6vw;
  left: 39vw;
  color: gray;
}
#BodyCopy6A {
  position: absolute;
  top: 1178vw;
  left: 30vw;
  right: 25vw;
  line-height: 1.4em;
}
#CSM1 {
  position: absolute;
  top: 1196vw;
  left: 33vw;
  right: 27vw;
  width: 35%;
}
#BodyCopy6B {
  position: absolute;
  top: 1241vw;
  left: 30vw;
  right: 25vw;
  line-height: 1.4em;
}
#CSM2 {
  position: absolute;
  left: 33vw;
  top: 1250vw;
  width: 30%;
}
#BodyCopy6C {
  position: absolute;
  top: 1280vw;
  left: 30vw;
  right: 25vw;
  line-height: 1.4em;
}
#CSM3 {
  position: absolute;
  top: 1289vw;
  left: 33vw;
  right: 27vw;
  width: 44%;
}
#BodyCopy6D {
  position: absolute;
  top: 1333vw;
  left: 30vw;
  right: 25vw;
  line-height: 1.4em;
}
#CSM4 {
  position: absolute;
  top: 1344vw;
  left: 33vw;
  right: 27vw;
  width: 35%;
}
#BodyCopy6E {
  position: absolute;
  top: 1379vw;
  left: 30vw;
  right: 25vw;
  line-height: 1.4em;
}
#CSM5 {
  position: absolute;
  top: 1390vw;
  left: 33vw;
  right: 27vw;
  width: 40%;
}
#BodyCopy6F {
  position: absolute;
  top: 1429vw;
  left: 30vw;
  right: 25vw;
  line-height: 1.4em;
}
#Article6End {
  position: absolute;
  top: 1443vw;
  width: 100%;
}
#BlackLineRelatedTop6 {
  position: absolute;
  top: 1443vw;
  left: 20vw;
  width: 60%;
}
#RelatedArticles6 {
  position: absolute;
  font-size: 1em;
  top: 1444vw;
  left: 20vw;
  width: 18.5%;
}
#RelatedTopLeft6 {
  position: absolute;
  font-size: 1.5em;
  top: 1447vw;
  left: 22vw;
  width: 18.5%;
}
#RelatedBottomLeft6 {
  position: absolute;
  font-size: 1.5em;
  top: 1452vw;
  left: 22vw;
  width: 18.5%;
}
#RelatedTopMiddle6 {
  position: absolute;
  font-size: 1.5em;
  top: 1447vw;
  left: 41vw;
  width: 18.5%;
}
#RelatedBottomMiddle6 {
  position: absolute;
  font-size: 1.5em;
  top: 1452vw;
  left: 41vw;
  width: 18.5%;
}
#RelatedTopRight6 {
  position: absolute;
  font-size: 1.5em;
  top: 1447vw;
  left: 60vw;
  width: 18.5%;
}
#RelatedBottomRight6 {
  position: absolute;
  font-size: 1.5em;
  top: 1452vw;
  left: 60vw;
  width: 18.5%;
}
#BlackLineRelatedBottom6 {
  position: absolute;
  top: 1458vw;
  left: 20vw;
  width: 60%;
}

/* Story 7: Zuck */
#Story7 {
  z-index: 19;
  position: absolute;
  cursor: pointer;
  top: 78vw;
  left: 32.6vw;
  width: 22.5%;
}
#MarkyMark {
  z-index: 19;
  cursor: pointer;
  position: absolute;
  top: 77.8vw;
  left: 32.45vw;
  width: 23%;
}

/* Story 8: Smartphone Addiction */
#Story8 {
  z-index: 19;
  position: absolute;
  cursor: pointer;
  top: 78vw;
  left: 57.5vw;
  width: 22.5%;
}
#Eyes {
  z-index: 22;
  position: absolute;
  top: 78vw;
  left: 57.5vw;
  width: 22.5%;
}
#HiddenTop8 {
  position: absolute;
  top: 1454vw;
  z-index: 0;
  color: white;
}
#BlackLine8 {
  position: absolute;
  top: 1463vw;
  left: 7.5vw;
  width: 85%;
}
#DateTime8 {
  position: absolute;
  top: 1468vw;
  left: 18.2vw;
  color: gray;
}
#Title8 {
  position: absolute;
  top: 1467vw;
  left: 18vw;
}
#SquareAd8 {
  position: absolute;
  top: 1467vw;
  left: 60vw;
  width: 22%;
}
#SkyscraperStory8 {
  position: absolute;
  top: 1520vw;
  left: 10vw;
  width: 10%;
}
#Subtitle8 {
  position: absolute;
  top: 1485.5vw;
  left: 18.5vw;
  right: 47vw;
}
#AuthorTime8 {
  position: absolute;
  top: 1485.6vw;
  left: 39vw;
  color: gray;
}
#BodyCopy8A {
  position: absolute;
  top: 1487vw;
  left: 30vw;
  right: 25vw;
  line-height: 1.4em;
}
#Article8End {
  position: absolute;
  top: 1595vw;
  width: 100%;
}
#BlackLineRelatedTop8 {
  position: absolute;
  top: 1595vw;
  left: 20vw;
  width: 60%;
}
#RelatedArticles8 {
  position: absolute;
  font-size: 1em;
  top: 1596vw;
  left: 20vw;
  width: 18.5%;
}
#RelatedTopLeft8 {
  position: absolute;
  font-size: 1.5em;
  top: 1599vw;
  left: 22vw;
  width: 18.5%;
}
#RelatedBottomLeft8 {
  position: absolute;
  font-size: 1.5em;
  top: 1604vw;
  left: 22vw;
  width: 18.5%;
}
#RelatedTopMiddle8 {
  position: absolute;
  font-size: 1.5em;
  top: 1599vw;
  left: 41vw;
  width: 18.5%;
}
#RelatedBottomMiddle8 {
  position: absolute;
  font-size: 1.5em;
  top: 1604vw;
  left: 41vw;
  width: 18.5%;
}
#RelatedTopRight8 {
  position: absolute;
  font-size: 1.5em;
  top: 1599vw;
  left: 60vw;
  width: 18.5%;
}
#RelatedBottomRight8 {
  position: absolute;
  font-size: 1.5em;
  top: 1604vw;
  left: 60vw;
  width: 18.5%;
}
#BlackLineRelatedBottom8 {
  position: absolute;
  top: 1610vw;
  left: 20vw;
  width: 60%;
}

/* Trending now */
#Rectangle {
  z-index: 20;
  position: absolute;
  top: 102vw;
  left: 0vw;
  width: 100%;
}
#TopPicks-new {
   z-index: 21;
   position: absolute;
   top: 104vw;
   left: 5.5vw;
   width: 94%;
}
#LOLGIF {
  z-index: 21;
  position: absolute;
  top: 110.6vw;
  left: 11.5vw;
  width: 8%;
}
#AngryNewsGIF {
   z-index: 21;
   position: absolute;
   top: 102.1vw;
   left: 16.5vw;
   width: 22%;
}
#QuizGIF {
   z-index: 21;
   position: absolute;
   top: 109vw;
   left: 34vw;
   width: 11.5%;
}
#DiceGIF {
   z-index: 21;
   position: absolute;
   top: 102.3vw;
   left: 39vw;
   width: 25%;
}
#ScarfGirlGIF {
   z-index: 21;
   position: absolute;
   top: 110.4vw;
   left: 56vw;
   width: 15%;
}
#PornGIF {
   z-index: 21;
   position: absolute;
   top: 109.5vw;
   left: 69vw;
   width: 14%;
}
#TrueStoryGIF {
  z-index: 21;
  position: absolute;
  top: 110vw;
  left: 82.1vw;
  width: 11.25%;
}

/* Story 9: Teddy */
#Story9 {
  z-index: 21;
  position: absolute;
  cursor: pointer;
  top: 136vw;
  left: 7.7vw;
  width: 22.5%;
}
#TopRated1{
  z-index: 22;
  position: absolute;
  cursor: pointer;
  top: 134vw;
  left: 6vw;
  width: 5%;
}

/* Story 10: Cambridge Analytica */
#Story10 {
  z-index: 21;
  position: absolute;
  top: 136vw;
  left: 32.6vw;
  width: 22.5%;
  cursor: pointer;
}
#HiddenTop10 {
  position: absolute;
  top: 1604vw;
  z-index: 0;
  color: white;
}
#BlackLine10 {
  position: absolute;
  top: 1615vw;
  left: 7.5vw;
  width: 85%;
}
#DateTime10 {
  position: absolute;
  top: 1620vw;
  left: 18.2vw;
  color: gray;
}
#Title10 {
  position: absolute;
  top: 1619vw;
  left: 18vw;
}
#SquareAd10 {
  position: absolute;
  top: 1619vw;
  left: 60vw;
  width: 22%;
}
#SkyscraperStory10 {
  position: absolute;
  top: 1680vw;
  left: 10vw;
  width: 10%;
}
#Subtitle10 {
  position: absolute;
  top: 1637.5vw;
  left: 18.5vw;
  right: 47vw;
}
#AuthorTime10 {
  position: absolute;
  top: 1637.6vw;
  left: 39vw;
  color: gray;
}
#BodyCopy10A {
  position: absolute;
  top: 1639vw;
  left: 30vw;
  right: 25vw;
  line-height: 1.4em;
}
#Article10End {
  position: absolute;
  top: 1755vw;
  width: 100%;
}
#BlackLineRelatedTop10 {
  position: absolute;
  top: 1755vw;
  left: 20vw;
  width: 60%;
}
#RelatedArticles10 {
  position: absolute;
  font-size: 1em;
  top: 1756vw;
  left: 20vw;
  width: 18.5%;
}
#RelatedTopLeft10 {
  position: absolute;
  font-size: 1.5em;
  top: 1759vw;
  left: 22vw;
  width: 18.5%;
}
#RelatedBottomLeft10 {
  position: absolute;
  font-size: 1.5em;
  top: 1764vw;
  left: 22vw;
  width: 18.5%;
}
#RelatedTopMiddle10 {
  position: absolute;
  font-size: 1.5em;
  top: 1759vw;
  left: 41vw;
  width: 18.5%;
}
#RelatedBottomMiddle10 {
  position: absolute;
  font-size: 1.5em;
  top: 1764vw;
  left: 41vw;
  width: 18.5%;
}
#RelatedTopRight10 {
  position: absolute;
  font-size: 1.5em;
  top: 1759vw;
  left: 60vw;
  width: 18.5%;
}
#RelatedBottomRight10 {
  position: absolute;
  font-size: 1.5em;
  top: 1764vw;
  left: 60vw;
  width: 18.5%;
}
#BlackLineRelatedBottom10 {
  position: absolute;
  top: 1770vw;
  left: 20vw;
  width: 60%;
}

/* Story 11: Tools */
#Story11 {
  z-index: 21;
  position: absolute;
  top: 136vw;
  left: 57.5vw;
  width: 22.5%;
  cursor: pointer;
}
#HiddenTop11 {
  position: absolute;
  top: 1764vw;
  z-index: 0;
  color: white;
}
#BlackLine11 {
  position: absolute;
  top: 1775vw;
  left: 7.5vw;
  width: 85%;
}
#DateTime11 {
  position: absolute;
  top: 1780vw;
  left: 18.2vw;
  color: gray;
}
#Title11 {
  position: absolute;
  top: 1779vw;
  left: 18vw;
}
#SquareAd11 {
  position: absolute;
  top: 1779vw;
  left: 60vw;
  width: 22%;
}
#SkyscraperStory11 {
  position: absolute;
  top: 1797.5vw;
  left: 10vw;
  width: 10%;
}
#Subtitle11 {
  position: absolute;
  top: 1797.5vw;
  left: 18.5vw;
  right: 47vw;
}
#AuthorTime11 {
  position: absolute;
  top: 1797.6vw;
  left: 39vw;
  color: gray;
}
#BodyCopy11A {
  position: absolute;
  top: 1799vw;
  left: 30vw;
  right: 25vw;
  line-height: 1.4em;
}
#Timestats {
  width: 100%;
  position: relative;
}
#Moment {
  width: 50%;
  position: relative;
}
#NewsFeedEradicator {
  width: 100%;
  position: relative;
}
#HabitLab {
  width: 100%;
  position: relative;
}
#Outline {
  width: 100%;
  position: relative;
}
#Ghostery {
  width: 100%;
  position: relative;
}
#BlackLineRelatedTop11 {
  position: absolute;
  top: 2112vw;
  left: 20vw;
  width: 60%;
}
#RelatedArticles11 {
  position: absolute;
  font-size: 1em;
  top: 986vw;
  left: 20vw;
  width: 18.5%;
}
#RelatedTopLeft11 {
  position: absolute;
  font-size: 1.5em;
  top: 989vw;
  left: 22vw;
  width: 18.5%;
}
#RelatedBottomLeft11 {
  position: absolute;
  font-size: 1.5em;
  top: 994vw;
  left: 22vw;
  width: 18.5%;
}
#RelatedTopMiddle11 {
  position: absolute;
  font-size: 1.5em;
  top: 989vw;
  left: 41vw;
  width: 18.5%;
}
#RelatedBottomMiddle11 {
  position: absolute;
  font-size: 1.5em;
  top: 994vw;
  left: 41vw;
  width: 18.5%;
}
#RelatedTopRight11 {
  position: absolute;
  font-size: 1.5em;
  top: 989vw;
  left: 60vw;
  width: 18.5%;
}
#RelatedBottomRight11 {
  position: absolute;
  font-size: 1.5em;
  top: 994vw;
  left: 60vw;
  width: 18.5%;
}
#BlackLineRelatedBottom11 {
  position: absolute;
  top: 2120vw;
  left: 20vw;
  width: 60%;
}

/* Sponsored 1: Jess */
#Sponsored1 {
  z-index: 21;
  position: absolute;
  top: 167vw;
  left: 7.7vw;
  width: 22.5%;
}
#JessGIF {
  z-index: 21;
  position: absolute;
  top: 167vw;
  left: 7.7vw;
  width: 22.5%;
}

/* Sponsored 2: Rikke */
#Sponsored2 {
  z-index: 21;
  position: absolute;
  top: 167vw;
  left: 32.6vw;
  width: 22.5%;
}
#RikkeGIF {
  z-index: 21;
  position: absolute;
  top: 167vw;
  left: 32.6vw;
  width: 22.5%;
}

/* Sponsored 3: Julie */
#Sponsored3 {
  z-index: 21;
  position: absolute;
  top: 167vw;
  left: 57.5vw;
  width: 22.5%;
}
#JulieGIF{
  z-index: 21;
  position: absolute;
  top: 167vw;
  left: 57.55vw;
  width: 22.5%;
}

/* Dog */
#PuppyCouch{
  z-index: 21;
  position: relative;
  top: 150vw;
  left: -1vw;
  width: 70%;
}
#notification-PuppyCouch {
  z-index: 21;
  position: absolute;
  top: 171.5vw;
  left: 14.6vw;
  width: 8%;
}

/* back to top */
@media only screen and (min-width: 1024px) {
  main p {
    font-size: 2rem;
  }
}
.cd-top {
  display: inline-block;
  height: 4vw;
  width: 4vw;
  position: fixed;
  bottom: 4vw;
  right: 4vw;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.8) url(cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
}
.cd-top.cd-top--show,
.cd-top.cd-top--fade-out,
.cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
}
.cd-top.cd-top--show {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-top--fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .3;
  z-index: 33;
}
.cd-top:hover {
  background-color: #000000;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    bottom: 4vw;
    right: 4vw;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 4vw;
    width: 4vw;
    bottom: 4vw;
    right: 4vw;
  }
}

/* Footer */
#BannerAdBottom {
  z-index: 30;
  position: absolute;
  top: 2117vw;
  left: 10vw;
  width: 80%;
}
#footer{
  z-index: 29;
  position: absolute;
  top: 2130vw;
  left: 0vw;
  width: 100%;
  text-align: center;
  color: lightgray;
}

/* Timers */
#minutes {
  z-index: 32;
  font-family: 'Sintony';
  font-size: 2vw;
  position: fixed;
  top: 8vh;
  left: 50%;
  transform: translateX(-50%);
  left: 47vw;
  color: #000000;
}
#seconds {
  z-index: 32;
  font-family: 'Sintony';
  font-size: 2vw;
  position: fixed;
  top: 8vh;
  left: 50%;
  transform: translateX(-50%);
  color: #000000;
}
